{% extends "base.html" %}
{% block content %}

    <div class="ibox">
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-10"><h3>Veuillez choisir un produit à vendre</h3></div><br>
                    <form name="" method="post" autocomplete="off" class="form-horizontal style-form">
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Nom du produit</label>
                            <select class="form-control col-sm-10" name="libelleProd" id="libelleProd">
                                <optgroup class="col-sm-8">
                                    {% for pro in produit %}
                                        <option value="{{ pro.id }}" selected>
                                            {{ pro.libelleProd }}
                                        </option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Quantite</label>
                            <div class="col-sm-10">
                                <input type="number" id="appbundle_vente_quantite" name="appbundle_vente[quantite]" required="required" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Quantite ajoutable à la facture</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="stock" type="text"  disabled="">
                            </div>
                        </div>
                        <div class="col-sm-7 ml-sm-auto">
                            <button type="submit" id="btn" class="btn btn-primary">valider</button>
                            <button type="reset" class="btn btn-default">annuler</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-8">
                    <div class=""><h3 style="alignment: center">Liste des produits</h3></div><br>

                    <!-- datatable catégorie -->
                    <div class="page-content fade-in-up">
                        <div class="flexbox mb-4">
                            <div class="input-group-icon input-group-icon-left mr-3">
                                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                            </div>
                        </div>
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover" id="datatable">
                                <thead class="thead-default thead-lg">
                                <tr>
                                    <th>Ref</th>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {#                                        <a data-toggle="modal" data-target="#exampleModal"  onclick=" " title="modifier">#}
                                        {#                                            <button class="btn btn-primary" type="submit"><i class="fa fa-pen"></i>Modifier</button>#}
                                        {#                                        </a>#}
                                        {#                                        <a href="" ><button class="btn btn-danger" type="submit" ><i class="fa fa-trash"></i>Supprimer</button></a>#}

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <a><button style="margin-left:200%" class="btn btn-primary">Valider la facture</button></a>

                    </div>

                </div>
            </div><br>
            <div class="row mb-4" >
                <div class="col-sm-10" >
                    <h4>Total de la facture: <b><span id="peye">0</span> FCFA </b></h4>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-10">
                    <h4>Total à payer : <b><span id="to">0</span> FCFA </b></h4>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function ajout() {
            $(document).ready(function() {
                var t = $('#example').DataTable();
                var counter = 1;

                $('#addRow').on( 'click', function () {
                    t.row.add( [
                        counter +'.1',
                        counter +'.2',
                        counter +'.3',
                        counter +'.4',
                        counter +'.5'
                    ] ).draw( false );

                    counter++;
                } );

                // Automatically add a first row of data
                $('#addRow').click();
            } );
        }

    </script>

{% endblock %}