{% extends "base.html" %}
{% block content %}

    <div class="ibox">
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-sm-10"><h3>Veuillez choisir un produit à vendre</h3></div><br>
                    <form name="" method="post" autocomplete="off" class="form-horizontal style-form" id="ajoutPro">
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Nom du produit</label>
                            <select class="form-control col-sm-10" name="libeProd" id="libelleProd">
                                <optgroup class="col-sm-8">
                                    {% for pro in produit %}
                                        <option  value="{{pro.prixVente}}" selected>
                                            {{pro.libelleProd}}
                                        </option>

                                    {% endfor %}
                                </optgroup>
                            </select>


                        </div>
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Quantite</label>
                            <div class="col-sm-10">
                                <input type="number" id="quatite" name="quantite" required="required" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group mb-4 row">
                            <label class="col-sm-2 col-form-label">Quantite ajoutable à la facture</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="stock" type="text"  disabled="">
                            </div>
                        </div>
                        <div class="col-sm-7 ml-sm-auto">
                            <button type="submit" id="btn"   class="btn btn-primary">valider</button>
                            <button type="reset" class="btn btn-default">annuler</button>
                        </div>
                        <input type="text"  id="prixU" name="prixVente" value="{{ prixVente }}" hidden/>
                    </form>
                </div>

                <div class="col-md-8">
                    <div class=""><h3 style="alignment: center">Liste des produits</h3></div><br>

                    <!-- datatable catégorie -->
                    <div class="page-content fade-in-up">
                        <div class="flexbox mb-4">
                            <div class="input-group-icon input-group-icon-left mr-3">
                                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                            </div>
                        </div>
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover" id="datatable">
                                <thead class="thead-default thead-lg">
                                <tr>
                                    <th>Nom</th>
                                    <th>Quantité</th>
                                    <th>Prix unitaire</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        {#                                        <a data-toggle="modal" data-target="#exampleModal"  onclick=" " title="modifier">#}
                                        {#                                            <button class="btn btn-primary" type="submit"><i class="fa fa-pen"></i>Modifier</button>#}
                                        {#                                        </a>#}
                                        {#                                        <a href="" ><button class="btn btn-danger" type="submit" ><i class="fa fa-trash"></i>Supprimer</button></a>#}

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <a><button style="margin-left:200%" class="btn btn-primary">Valider la facture</button></a>
                    </div>

                    <!-- Modal approvisionnement -->
                    <div class="modal fade" id="modalModif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="" name="ajoutApprovi" method="post" autocomplete="off" id="ajoutApprovi" >
                                        {% csrf_token %}

                                        <div class="form-group mb-4 row">
                                            <label class="col-sm-2 col-form-label">Nom de produit</label>
                                            <select class="form-control col-sm-8" name="libeProduit" id="prod2">
                                                <optgroup class="col-sm-8">

                                                    <option value="">

                                                    </option>

                                                </optgroup>

                                            </select>
                                        </div>
                                        <div class="form-group mb-4 row">
                                            <label class="col-sm-2 col-form-label">Quantite</label>
                                            <div class="col-sm-10">
                                                <input type="number" id="qt2" name="quantite" required="required" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group mb-4 row">
                                            <label class="col-sm-2 col-form-label">Quantite ajoutable à la facture</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" id="stock2" type="text"  disabled="">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fin modal-->

                </div>
            </div><br>
            <div class="row mb-4" >
                <div class="col-sm-10" >
                    <h4>Total de la facture: <b><span id="peye">0</span> FCFA </b></h4>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-10">
                    <h4>Total à payer : <b><span id="to">0</span> FCFA </b></h4>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var nom,prix

        $("select").on("change", function() {
            console.log($("select").val())
            console.log($("select option:selected").text())

            prix = $("select").val()
            nom  = $("select option:selected").text()
        });


        $(document).on('submit', '#ajoutPro', function(event) {
            var t = $('#datatable').DataTable();
            event.preventDefault();
            let form = $(this);
            var modifier = '<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalModif">modifier</button>'
            var supprimer = '<button type="reset" class="btn btn-danger">supprimer</button>'

            t.row.add( [
                nom,
                form.find('[name="quantite"]').val(),
                prix,
                modifier + supprimer
            ] ).draw( false );

        } );




    </script>

{% endblock %}
