{% extends 'base.html' %}
{% block content %}
    <!-- datatable approvisionnement -->
    <div class="page-content fade-in-up">

        <h5 class="font-strong mb-4">INVENTAIRES DU STOCK DE PRODUIT</h5>
        <div class="flexbox mb-4">
            <div class="flexbox">

            </div>
            <div class="input-group-icon input-group-icon-left mr-3">
                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Rechercher ...">
            </div>
        </div>
        <div class="table-responsive row">
            <table class="table table-bordered table-hover" id="datatable">
                <thead class="thead-default thead-lg">
                <tr>
                    <th>Nom produit</th>
                    <th>Quantité en stock</th>
                    <th>Quantité avant approvisionneemnt</th>
                    <th>Quantité approvisionné</th>
                </tr>
                </thead>
                <tbody>
                {% for pro in entre %}
                    {% if pro.etatE == null %}
                    <tr>
                        <td>{{ pro.prodE.libelleProd}}</td>
                        <td>{{ pro.prodE.quantite}}</td>
                        <td>{{ pro.qtAvant }}</td>
                        <td>{{ pro.qtE }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- fin du datatables -->
{% endblock %}